#body
{
  
  width: auto;
  height: auto;

}

.bouton
{
  color: white;
  margin: 10px;
  font-weight: bold;
  background-color: blue;
  font-weight: bold
}

a
{
  
  color: black;
  text-decoration: none;

}

a:hover
{
 
  text-decoration: underline;
}

header
{
  

  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.gmail
{
  margin: 10px;
}


#google
{
  

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 650px;
}

.images
{
  max-height: 100px;
  max-width: 200px;

}

.searchbar
{
  width: 350px;

}


#footer1
{
  

}

#footer2
{
  

  margin: 0;
  display: flex;
  justify-content: space-between;
}

.lien1
{
  
}

.lien2
{
  display: flex;
  justify-content: flex-end;
}
